.BalloonWrapper {
    z-index: 100;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.BalloonWidth {
    max-width: 67%;
}

.SpeakerSVG {
    bottom: 0;
    right: 0;
    position: absolute;
    min-height: 280px;
}

.ImgSize {
    height: 250px;
    max-width: 600px;
    bottom: 0;
    position: absolute;
}
