
.FollowerListItem {
    display: flex;
    flex-direction: row;
    cursor: var(--cursor-click-url),pointer;
}

.FollowerListItemImage {
    max-height: 100px;
    margin: 15px;
}

.FollowerListItemText {
    align-self: center;
}
