.ComputerWrapper {
    border: solid 25px #808080;
    border-bottom-width: 50px;
    height: 100vh;
    padding: 15px;
    overflow: auto;
    background-color: teal;
}

.ShutdownButton {
    position: fixed;
    bottom: 0;
    left: 48%;
}

