.App {
  text-align: center;
}

.App-logo {
  height: 34vmin;
  pointer-events: none;
}

.App-header {
  background-color: #695958;
  font-weight: bold;
  line-height: 1.3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #0D5C63;
}

.Header-text {
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.landing-text {
  font-size: calc(8px + 2vmin);
  color: #0D5C63;
}

.App-link {
  color: #61dafb;
}

.Flex-container {
  display: flex;
}

@media (max-width: 406px) {
  .Flex-container {
    flex-direction: column;
  }
}

